{% extends "layout.html" %} {% block title %}404: Not found{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<div class="container-fluid  pl-5 pr-5 pt-0 pb-0 text-center">
        <h1 class="d-none d-sm-block display-4">Oops!</h1>
        <h1 class="d-block d-sm-none h1">Oops!</h1>
                <hr>
</div>
<div class="container text-center">
    <h1>404 : Page not found</h1>

    <img src="{{url_for('static',filename='images/404.gif')}}" loop="false" alt="">
</div>
{% endblock %}