{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content
%}
<style>
    *:focus {
        outline: none;
    }
</style>



<div class="container-fluid  pl-5 pr-5 pt-0 pb-0 text-center">
    <h1 class="display-4">Manage Users</h1>
  
</div>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-warning text-center w-50 mx-auto" role="alert">
    <strong>{{ message }}</strong>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container-fluid">
    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Nickname</th>
                <th>Admin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for x in users %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.username}}</td>
                <td>{{x.job_title}}</td>
                <td>{{x.nickname}}</td>
                <td>{{x.admin}}</td>
                <td>
                    <a class="text-info" href="{{url_for('admin_update_user', user_id=x.id)}}">
                        <i class="fas fa-user-edit"></i>

                    </a><br>
                    <a href="{{url_for('admin_delete', user_id=x.id)}}" class="text-info">
                        <i class="fas fa-trash-alt"></i>
                    </a>


                </td>

            </tr>{%endfor%}
        </tbody>
    </table> </div>{% endblock %}