{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content%}
<style>
    .fa-times {
        color: #d9534f;
    }

    .fa-check {
        color: #5cb85c;
    }
</style>
<div class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12 test p-5 bg-dark text-light">
                <h1 class="display-4 text-center">Room {{ room }} notes</h1>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-4">
                <div class="form-group mx-auto">

                    <form class="mx-auto" action="{{ url_for('edit', room_number=room) }}" method="post" novalidate>
                        {{ form.hidden_tag() }} {{ form.notes.label }} {{ form.notes(class="form-control") }} {% with messages = get_flashed_messages()
                        %} {% if messages %} {% for message in messages %}
                        <div id="alert" class="alert alert-success w-100 mt-4 mx-auto text-center" role="alert">
                            <strong>
                                <i class="far fa-times-circle"></i> {{ message }}</strong>
                        </div>
                        {% endfor %} {% endif %} {% endwith %} {% if form.errors %} {% for field_name, field_errors in form.errors|dictsort if field_errors
                        %} {% for error in field_errors %}
                        <div class="alert alert-danger w-100 mt-4 mx-auto text-center">
                            <i class="far fa-times-circle"></i>
                            <strong>{{ error }}</strong>
                        </div>
                        {% endfor %} {% endfor %} {% endif %}
                        <br>
                        <div class="text-center">
                            <a href="{{url_for('search', room_number=room)}}" class="btn btn-primary btn-lg">Go Back</a>
                            {{form.submit(class="btn btn-lg btn-success")}}
                        </div>



                    </form>
                </div>
                <br>
                <hr>
            </div>
            <div class="col-md-4"></div>

            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <div class="text-ceter">
                    <table class="bg-white text-center rounded mx-auto  table table-hover table-bordered">
                        <tbody>
                            <h1 class="display-4 text-center">Current notes</h1>
                            {%if note_list %} {% for x in note_list %}
                            <tr>
                                <td id="{{x}}">
                                    {{ x }}
                                </td>
                                <td>
                                    <a href="{{ url_for('delete_note', room_number=room, note=x) }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %} {% else %}
                            <tr>
                                <td>
                                    No notes added yet.
                                </td>
                            </tr>

                            {% endif %}
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>
</div>
</div>





<!-- 








                
                <strong>{{ floor }}</strong><br>
                <span class="badge badge-secondary">{{ room_type }}</span>
                <span class="badge badge-secondary">{{ size }} </span>
                <br>
                View: {{ view }}
                    </div>
            <hr>
            <div class="align-self-center">
            <table class="table table-bordered" style="width: 50%; margin: 0 auto;">
                <tbody>
                  <tr>
                    <td>Desk</td>
                    <td><i class="fa fa-{{desk_color}}"></i><br>{{ desk }}</td>

                  </tr>
                  <tr>
                      <td>Armchair</td>
                      <td><i class="fa fa-{{ armchair_color }}"></i><br>{{ armchair }} </td>

                    </tr>
                  <tr>
                      <td>Coffee Table</td>
                    <td><i class="fa fa-{{ coffe_table_color }}"></i><br>{{ coffe_table }}</td>
                    
  
                  </tr>
                  <tr>
                    <td>Fridge</td>
                    <td><i class="fa fa-{{ fridge_color }}"></i><br>{{ fridge }}</td>
                  </tr>
                  <tr>
                    <td>Full Mirror</td>
                    <td><i class="fa fa-{{ full_mirror_color }}"></i><br>{{ full_mirror }}</td>
                  </tr>
                  <tr>
                      <td>Shower over bath</td>
                      <td><i class="fa fa-{{ shower_bath_color }}"></i><br>{{ shower_bath }}</td>
                    </tr>
                    <tr>
                        <td>Roll top bath</td>
                        <td><i class="fa fa-{{ roll_top_bath_color }}"></i><br>{{ roll_top_bath }}</td>
                      </tr>
                      <tr>
                          <td>Bathroom windows</td>
                          <td><i class="fa fa-{{ bathroom_windows_color }}"></i><br>{{ bathroom_windows }}</td>
                        </tr>
                        <tr>
                            <td>Connecting</td>
                            <td><i class="fa fa-{{ connecting_color }}"></i><br>{{ connecting }}</td>
                          </tr>
                               </tbody>
           
              </table></div>
              <br>
                                   
                            <h1 class="display-4">Room Notes</h1>
<hr>
{{ notes }}
        </div>
      </div>
    </div> -->
{% endblock %}