<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom-themes.css')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <!-- Date Picker -->
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <style>
        #message {
      position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        z-index: 999;
    }
    #inner-message {
        margin: 0 auto;
    }
    .loader{
        height:100vh;
    }
       
  </style>
    <title>{%block title%} {%endblock%} - Alfred </title>

</head>
{%endblock%}

<body>
    <!-- <form class="p-5" method="post" action="#" id="page-wrapper"></form> -->
    <div class="loader text-dark p-5 text-center " style="background-color: #f1f1f1;">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
        <h1 class="ml9">
            <span class="text-wrapper">
                <span class="letters">LOADING</span>
            </span>
        </h1>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <div class="page-wrapper chiller-theme sidebar-bg toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark btn-lg d-print-none" style="  z-index: 1;" href="#">
            <i class="fas fa-bars"></i> Menu
        </a>
        <nav id="sidebar" class="d-print-none sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#"><i class="fas fa-user-tie"></i> Alfred </a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <!-- <div class="user-pic">
                        <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
                    </div> -->
                    <div class="user-info">

                        <span class="user-name"><span class="strong">{{current_user.nickname}}</span></span>
                        <span class="user-role">{{current_user.job_title}}</span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                <form method="POST" action="{{ url_for('handle_data') }}" class="class">
                    <div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <input name="Room" id="Room" type="text" class="form-control search-menu" placeholder="Room Search...">
                                <span class="input-group-append">
                                    <button class="input-group-text">
                                        <input type="button" name="submit" style="display: none;">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Guest Log</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-plus-square"></i>
                                <span>Create</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="{{url_for('stream', date=date)}}">Entry today</a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">Entry another day</a>
                                    </li> -->
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-eye"></i>
                                <span>View</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="{{url_for('todays_log')}}">Today's log

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('yesterdays_log')}}">Yesterday's log</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% if current_user.admin %}
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="far fa-chart-bar"></i>
                                <span>Stats</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="{{url_for('overall_stats')}}">Overall</a>
                                    </li>
                                    <li>
                                        <a href="#">Sentiment</a>
                                    </li>
                                    <li>
                                        <a href="#">Panels</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {%endif%}
                        <li class="header-menu">
                            <span>Room Inventory</span>
                        </li>
                        <li>
                            <a href="{{url_for('search')}}">
                                <i class="fas fa-search"></i>
                                <span>Search</span>
                            </a>
                        </li>
                        <li class="header-menu">
                            <span>Information</span>
                        </li>
                        <li>
                            <a href="{{url_for('handbook')}}">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Where to find?</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-question-circle"></i>
                                <span>What to do?</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-phone"></i>
                                <span>Useful numbers</span>
                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-location-arrow"></i>
                                <span>Local Area</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="">History of hotel</a>
                                    </li>
                                    <li>
                                        <a href="">Walking routes</a>
                                    </li>
                                    <li>
                                        <a href="#">Travel</a>
                                    </li>
                                    <li>
                                        <a href="#">Things to do</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {%if current_user.admin%}
                        <li class="header-menu">
                            <span>Admin</span>
                        </li>
                        <li>
                            <a href="{{url_for('admin_panel')}}">
                                <i class="fas fa-users-cog"></i>
                                <span>Manage Users</span>
                            </a>
                        </li>
                        {%endif%}

                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <div class="dropdown">
                    <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                        <a class="dropdown-item" href="#">My profile</a>
                    </div>
                </div>
                <div>
                    <a href="{{url_for('logout')}}" data_placement="top" data-toggle="tooltip" title="Click here to logout!">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->

        <main class="page-content h-100 swipe-area" style="background-color:#f0f3f6">
            <!-- <div class="container"> -->

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <script type="text/javascript">
                $(window).on('load', function () {
                    $('#myModal').modal('show');
                });
            </script>
            {% for category, message in messages %}
            {% if category == "warning"%}
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content font-weight-bold text-center p-0 text-dark">
                        <div class="modal-header text-dark">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body h6">
                            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                            <br>
                            <strong class="h1">Head's up!</strong>
                            <hr>
                            {{message}}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
            {% elif category == "success"%}
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content font-weight-bold text-center p-0 text-success">
                        <div class="modal-header text-success">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body h6">
                            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                            <br>
                            <strong class="h1">Woohoo!</strong>
                            <hr>
                            {{message}}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
            {%else%}
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content font-weight-bold text-center p-0 text-danger">
                        <div class="modal-header text-danger">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="modal-body h6">
                            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                            <br>
                            <strong class="h1">Error</strong>
                            <hr>
                            {{message}}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
            {%endif%}


            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}

            {% endblock %}
    </div>
    </main>

    <!-- page-content" -->
    </div>
    <!-- page-wrapper -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/post.js')}}"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $(function () {
            $('[data-toggle="popover"]').popover({ html: true, trigger: 'focus' })
        })
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
</body>

</html>