<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Modals -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

  <!-- Date Picker -->
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <style>
    .navlink {
      color: #343a40;
      border: solid 1px transparent;
      margin-left: 10px;
      text-transform: capitalize;
      font-weight: 500;
    }

    .navlink:hover {
      color:#343a40;

      border: solid 1px #343a40;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }

    .fa-heart {
      color: red;
    }

    div#page_loader {
      display: none;
    }

    .nav-hider {
      border-top-left-radius: 70px;
      border-top-right-radius: 70px;
      padding: 5px;

    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%}{%endblock%} -Tortworth Matrix</title>

  {% endblock %}
</head>

<body class="bg-light pt-5">
  <nav class=" shadow-lg navbar navbar-expand-lg bg-light text-dark collapse show justify-content-right fixed-top border border-bottom">
    <button class="btn p-2 navbar-toggler bg-dark ml-auto text-light" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i> Menu
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <!-- <ul class="navbar-nav mr-auto">
        Brand
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link navlink" id="navlink" href="{{url_for('home')}}" onclick="javascript:document.getElementById('page_loader').style.display='block';">Home</a>
        </li>
        <li class="nav-item">


          <a class="nav-link navlink" href="{{ url_for('todays_log')}}" onclick="javascript:document.getElementById('page_loader').style.display='block';">
            <span>
              <i class="fas fa-list-ul"></i> The Log</span>
          </a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navlink" href="#" id="navbardrop" data-toggle="dropdown">
              <i class="fas fa-info-circle"></i> Information
          </a>
          <div class="dropdown-menu">
              <a href="{{url_for('handbook')}}" data-toggle="tooltip" title="Click here for helpful info!" class="dropdown-item"
              id="navlink">DM Handbook</a>
            <a class="dropdown-item" href="{{ url_for('travel') }} ">Transport</a>
            <a class="dropdown-item" href="{{ url_for('walking_routes' )}}">Walking Routes</a>
            <a class="dropdown-item" href="{{ url_for('things_to_do') }}">Things to do</a>
          </div>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{url_for('update_user')}}" data-toggle="tooltip" title="Click here to update your password!" class="nav-link navlink">
            <span>
              <i class="fas fa-user"></i> {{ current_user.nickname.split(' ')[0] }}
            </span>
          </a>
        </li>

        <li class="nav-item">


          <a class="nav-link navlink" href="{{ url_for('logout')}}" onclick="javascript:document.getElementById('page_loader').style.display='block';">
            <span><i class="fas fa-sign-out-alt"></i> Logout</span>
          </a>
        </li>
        {% if current_user.admin %}
        <li class="nav-item">
          <a href="{{url_for('admin_panel')}}" class="nav-link navlink"><i class="fas fa-user-secret"></i> Admin</a>
        </li>
        {% endif %}
        {% endif %}



        <form class="form-inline my-2 my-lg-0 pl-3" action="{{ url_for('handle_data') }}" method="post">
          <input class="form-control mr-sm-2" type="search" name="Room" placeholder="Search" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </ul>
  </nav>
  <div class="pb-5">
    {% block content %}{% endblock %}</div>
  <div class="footer">

    <!-- <div onclick="myFunction()" class="d-none d-sm-block nav-hider col-2 mx-auto bg-dark dropdown-toggle text-light">
          <a href="#" class="text-light">Toggle menu</a>
          </div> -->
    <div class="bg-dark text-white p-3" id="myDiv">
      <div class="row">
        <div class="col-12">
          made with
          <i class="fas fa-heart"></i> by Sean
        </div>

        <div class="col-12 float-right">

        </div>
      </div>
    </div>
    <div id="page_loader">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>

  </div>


  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    $(function () {
      $('[data-toggle="popover"]').popover({ html: true, trigger: 'focus' })
    })
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });

  </script>
  <script>
    function myFunction() {
      var x = document.getElementById("footerLinks");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }</script>
</body>

</html>