{% extends "layout.html" %} {% block title %}Log {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content%}
<div class="container text-center">
        <h1 class="col-12 col-sm-10 d-none d-sm-block display-4 mx-auto" style="text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);">Guest
                Log</h1>
        <h1 class="d-block d-sm-none h1">Guest Log</h1>

</div>
<div class="container p-1 text-dark d-print-none ">
        <div class="row">

                <div class="col-12 col-sm-10 mx-auto card p-3">
                        <div class="row">
                                <div class="col-2 d-print-none d-none d-sm-none d-lg-block my-auto">
                                        <button type="buton" onclick="window.print()" class="btn btn-outline-dark"><i class="fas fa-print"></i></button>
                                </div>
                                <div class="col-10 p-3 p-sm-0 mx-auto">
                                        <form method="POST" action="{{url_for('pick_log_date')}}" class="form-inline float-right">


                                                <input type="date" name="date" id="date" required class="form-control datepicker m-2">
                                                <button type="submit" class="btn btn-success">
                                                        <i class='far fa-calendar-alt'></i> Change Date

                                                </button>
                                                <!-- <input class="btn ml-1 btn-success" type="submit" value="<i class='far fa-calendar-alt'></i> Change Date"> -->
                                                <a name="" id="" class="btn btn-info ml-2 mr-2" href="{{url_for('stream', date=date)}}" role="button"><i
                                                                class="fas fa-plus"></i>
                                                        Create new entry</a>
                                        </form>
                                </div>
                        </div>

                </div>
        </div>
</div>
<div class="container p-1 text-dark">
        <div class="row">
                <div class="col-11 col-sm-10 mx-auto pt-4 pb-4 card">
                        <h5>Entries for {{date.strftime('%A %d %B %Y') }}</h4>
                                <hr>
                                {% if posts|length == 0 %}
                                <div class="card shadow p-2 text-center">
                                        <div class="card-body"> <i class="text-danger h1 far fa-calendar-times"></i> <br> There are no entries for date specified</div>
                                </div>
                                {%endif%}

                                {% for post in posts|reverse %}
                                {%if post.sentiment == "Positive"%}
                                <div id="post{{post.id}}" class="card mb-3 shadow border-success">
                                        {%endif%}
                                        {% if post.sentiment == "Negative"%}
                                        <div id="post{{post.id}}" class="card mb-3  shadow border-danger">
                                                {%endif%}
                                                {%if post.sentiment == "Neutral"%}
                                                <div id="post{{post.id}}" class="card mb-3  shadow border-warning">
                                                        {%endif%}


                                                        <div class="card-body">
                                                                <div class="row">
                                                                        <div class="col">
                                                                                <p class="card-text postBody">{{post.body}}</p>
                                                                        </div>

                                                                        {% if post.guest_name%}

                                                                        <div class="guestDetails col-12 col-sm-4 border-left">


                                                                                {% if post.guest_name%}
                                                                                Guest name:
                                                                                <strong>{{post.guest_name}} <br></strong>
                                                                                {%endif%}
                                                                                {% if post.arrival_date %}
                                                                                Guest arrived:
                                                                                <strong>{{post.arrival_date.strftime('%d-%m-%Y')}}</strong>
                                                                                {%endif%}

                                                                        </div>

                                                                        {%endif%}




                                                                </div>

                                                        </div>
                                                        <div class="card-footer small" id="cardFooter{{post.id}}">
                                                                {% if current_user.admin or post.author.id ==
                                                                current_user.id%}
                                                                <a class="text-dark d-print-none" title="Are you sure you want to delete?"
                                                                        tabindex="0" data-trigger="focus" data-content="<a onclick='deletePost(post{{post.id}})' href='{{ url_for('delete_post', post_id=post.id ) }}' class='btn btn-danger postDelete'>Delete</a> <a href='#' class='btn btn-success'>Keep</a>"
                                                                        data-toggle="popover">
                                                                        <i class="fas fa-trash-alt"></i>
                                                                </a>


                                                                {%endif%}
                                                                <span class="float-left float-sm-right">{{post.department}}
                                                                        |
                                                                        {%if post.sentiment == "Positive"%}
                                                                        <span class="text-success font-weight-bold">
                                                                                {{ post.sentiment}}
                                                                        </span>
                                                                        {%endif%}
                                                                        {%if post.sentiment == "Negative"%}
                                                                        <span class="text-danger font-weight-bold">
                                                                                {{ post.sentiment}}
                                                                        </span>
                                                                        {%endif%}
                                                                        {%if post.sentiment == "Neutral"%}
                                                                        <span class="text-warning font-weight-bold">
                                                                                {{ post.sentiment}}
                                                                        </span>
                                                                        {%endif%}
                                                                        | {{post.author.nickname}} |
                                                                        {{post.timestamp.strftime('%d-%m-%Y')}}

                                                                </span><br>
                                                        </div>


                                                </div>
                                                {%endfor%}
                                        </div>
                                </div>

                </div>


                {%endblock%}