{% extends "layout.html" %} {% block title %}Overall Stats{% endblock %} {% block head %} {{ super() }} {%endblock %}
{% block content%}
<div class="container-fluid">

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text"><canvas id="myChart" width="50%;"></canvas></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ the_key }},
            // labels: [{% for item1 in the_key %} {{ item1|string }}, {% endfor %}],
    datasets: [{
        label: '# of Neg',

        data: [{% for item in the_data %} {{ item }}, {% endfor %}],

        backgroundColor:
    'rgba(255, 99, 132, 0.2)',


        borderWidth: 1
        }]
    },
    options: {
        responsive: true,
            legend: {
            position: 'bottom',
                },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    steps: 10,
                    stepValue: 5,
                    max: {{ the_data| count + 5 }}
    }
 
 
            }]
        }
    }
});
</script>
{%endblock%}