{% extends "layout.html" %} {% block title %}Create a new entry{% endblock %} {% block head %} {{ super() }} {%endblock
%} {% block content%}
<div class="container text-center">
    <h1 class="d-none d-sm-block display-4">{{date.strftime('%A %d %B %Y') }}</h1>
    <h1 class="d-block d-sm-none h3">{{date.strftime('%A %d %B %Y') }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 mx-auto card p-4">


            <h5>Create entry
                <hr>
            </h6>




            <div class="form-group p-2">
                <form action="{{url_for('stream', date=date)}}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="row">
                        <div class="col-12 col-sm-4 ">
                            {{form.department.label}}
                            {{form.department(id="entryDepartment", class_="form-control", data_toggle="tooltip",
                            data_placement="right",
                            title="The department the entry is about, not yours")}}
                        </div>
                        <div class="col-12 col-sm-4">
                            {{form.sentiment.label}}
                            {{ form.sentiment(id="entrySentiment", class_="form-control" ,data_toggle="tooltip",
                            data_placement="right",
                            title="Does this entry have a positive, negative or neutral sentiment?") }}

                        </div>
                        <div class="col-12 col-sm-4 d-flex align-items-end">
                            <span class="btn btn-block btn-outline-success" data-toggle="collapse" data-target="#addGuestDiv"><i
                                    class="far fa-address-card"></i> Add Guest</span>
                        </div>
                    </div>



           
            <div class="collapse" id="addGuestDiv">
                <div class="row mb-2">
                    <div class="col-6">
                        {{form.guest_name.label}}
                        {{ form.guest_name(id="guestName", class_="form-control") }}
                    </div>
                    <div class="col-6">
                        {{form.arrival_date.label}}
                        {{form.arrival_date(id="entryArrivalDate", class_="form-control datepicker")}}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-2">
                    <div class="text-left mt-2 mb-2">
                        <!-- <div class="btn btn-outline-success" data-toggle="collapse" data-target="#addGuestDiv"><i class="far fa-address-card"></i> Add Guest</div> -->
                    </div>


                    {{form.body(id="logBody", class_="form-control", placeholder="Enter your log here...")}}

                </div>

                {% if form.errors %}
                {% for error in form.errors%}
                <div class="alert alert-danger w-100 mt-1 mx-auto">
                    <i class="far fa-times-circle"></i>
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-12 mx-auto text-center">
                    {{form.submit(class_="btn btn-lg btn-success shadow")}}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row mt-2">
    <div class="col-12 col-sm-10 mx-auto card p-3 ">
        <h6>Entry Preview</h6>
        <hr>
        <div class="row">
            <div class="col-12">
                <div id="Entry" class="card shadow border-warning">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p id="entryBody" class="card-text"></p>
                            </div>
                            <div class="col-12 col-sm-5 border-left">

                                <span id="guestProfile" class="d-none">
                                    Guest name:
                                    <span id="guestNameEntry" class="font-weight-bold"></span>
                                    <br>

                                    Guest arrived:
                                    <strong id="arrivalDate"></strong>
                                </span>

                            </div>






                        </div>

                    </div>
                    <div class="card-footer small" id="cardFooter">

                        <span class="float-left float-sm-right">
                            <span id="footerDepartment">Restaurant</span> |
                            <span id="footerSentiment" class="text-warning font-weight-bold">Neutral</span>
                            |
                            <span id="author">{{current_user.nickname}}</span> |
                            <span id="date">{{date.strftime('%d-%m-%Y')}}</span>
                        </span><br>

                    </div>


                </div>
            </div>

            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{%endblock%}