{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<style>
    *:focus {
        outline: none;
    }
</style>



<div class="container-fluid bg-dark text-light pb-5">
    <div class="row">

        <div class="col"></div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
            <h1 class="display-4 text-center pt-4">{{username}}, let's update your password!</h1>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        
        <div class="col-6">
            <div class="form-group">
                <form class="p-5" action="{{ url_for('admin_update_user_post') }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.email.label }} 
                    {{ form.email(class="form-control")}}
                    {%if form.email.errors %}
                    {% for error in form.email.errors%}
                    <div class="alert alert-danger w-100 mt-4 text-center mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{ error }}
                    </div>
                    {%endfor%} {% endif %}
                    <hr>
                    {{form.password.label}}
                    {{ form.password(class="form-control")}}
                    <hr>
                    {{ form.confirm_password.label}} {{form.confirm_password(class="form-control")}} 
                    {% if form.password.errors %} {% for error in form.password.errors%}
                    <div class="alert alert-danger w-100 mt-4 text-center mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{ error }}
                    </div>
                    {%endfor%} {% endif %}
                 
                    <div class="text-center mt-2 p-3">
                            {{form.submit(class="btn btn-lg btn-success")}}
                            <a href="{{url_for('home')}}" class="btn btn-primary btn-lg">Go Back</a>

                        
                        <br>
                    </div>



                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
            </div>

            
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}