{% extends "layout.html" %} {% block content%}
<style>
    .form-control {
        font-size: 20px
    }

    *:focus {
        outline: none;
    }

    .navbar {
        display: none;
    }
    .navbar-nav{
        display: none;
    }

    .link {
        color: white;
        font-weight: 500;
    }

    .link:hover {
        text-decoration: none;
        color: green;
    }
</style>
<div class="container-fluid bg-dark p-5" style="height: 100vh;">
        <div class="col-12"><h1 class="display-1 pb-4 text-center text-light pt-4">{{ greeting }}</h1></div>

    <div class="row">

        <div class="col"></div>
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-6">
            <div class="form-group former mx-auto bg-light text-light rounded pt-3 pb-3">
                <form class="p-3" action="{{ url_for('check_password') }}" method="post">
                    {{ form.hidden_tag() }} {{ form.email(class="mb-4 p-4 form-control text-dark", placeholder="Email")}} {% if form.email.errors
                    %} {% for error in form.email.errors%}
                    <div class="alert text-center alert-danger w-100 mt-1 mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{error}}
                    </div>
                    {% endfor %} {% endif %} {{ form.password(class="mt-4 mb-4 p-4 form-control text-dark", placeholder="Password")}} {% if form.password.errors
                    %} {% for error in form.password.errors%}
                    <div class="alert text-center alert-danger w-100 mt-1 mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{error}}
                    </div>
                    {% endfor %} {% endif %} 
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-danger text-center" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                    <div class="text-center">
                        <input class="btn btn-secondary btn-lg btn-block mx-auto" type="submit" value="Login">
                </form>



                </div>
            </div>
            <div class="text-center text-light">Not signed up?
                <a href="{{url_for('register')}}" class="link">Register here.</a>
            </div>
            <div class="text-light text-center">Had a WTF moment with your password?
                <a class="link" href="{{url_for('recover_user')}}">Recover here</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}