{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<style>
    *:focus {
        outline: none;
    }
</style>



<div class="container-fluid bg-dark text-light pb-5">
    <div class="row">

        <div class="col"></div>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
            <h1 class="display-4 text-center pt-4">Password reminder email thingy.</h1>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-4">
            <div class="form-group">
                    <div class="row">
                            <div class="col-12 pt-5 text-center">
                                <p>Please fill in the form below to have your password emailed to you.<br>This is sent as plain text, so just copy
                                    and paste on the login form.
                                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ message }}</strong>
                                    </div>
                                    {% endfor %} {% endif %} {% endwith %} 
                                </p>
                                    
                            </div>
                        </div>
                
                <form class="p-0" action="{{ url_for('recover_user') }}" method="post">
                    {{ form.hidden_tag() }} {{ form.password.label }} {{ form.password(class="form-control")}}


                    <hr> {{ form.confirm_password.label}} {{form.confirm_password(class="form-control")}} {% if form.password.errors
                    %} {% for error in form.password.errors%}
                    <div class="alert alert-danger w-100 mt-4 text-center mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{ error }}
                    </div>
                    {%endfor%} {% endif %}

                    <div class="text-center mt-2 p-3">
                        {{form.submit(class="btn btn-lg btn-success")}}
                        <a href="{{url_for('home')}}" class="btn btn-primary btn-lg">Go Back</a>


                        <br>
                    </div>
            </div>


        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}