{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
    %}
    <style> 
        *:focus {
            outline: none;
        }
    </style>
    
    
    
    <div class="container">
        <div class="row">
    
           <div class="col"></div>
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
                <div class="form-group">
                    <h1 class="display-4 text-center pt-4">Let's get you setup.</h1>
                    
                    <form class="p-5" action="{{ url_for('register') }}" method="post">
                            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                            <div class="alert alert-danger mb-5" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %} 
                            {% endif %} 
                            {% endwith %}
    
                            {{ form.hidden_tag() }}
                            {{ form.email.label }} 
                            {{ form.email(
                                class_="form-control") }}
                         {% if form.email.errors %}
                         {% for error in form.email.errors%}
                                <div class="alert alert-danger w-100 mt-1 mx-auto">
                                        <i class="far fa-times-circle"></i>
                                        {{error}}
                                        </div> 
                                        {% endfor %}  
                                {% endif %}
                               <hr>
                            {{ form.password.label }}
                            {{ form.password(class="form-control")}}
                            
                            {% if form.password.errors %}
                            {% for error in form.password.errors%}
                                <div class="alert alert-danger w-100 mt-1 mx-auto">
                                        <i class="far fa-times-circle"></i>
                                        {{ error }}
                                        </div>
                                        {%endfor%}
                                {% endif %}
<hr>
                            {{ form.confirm_password.label}}
                            {{form.confirm_password(class="form-control")}}
                            {% if form.confirm_password.errors %}
                            {% for error in form.confirm_password.errors %}
                                <div class="alert alert-danger w-100 mt-2 mx-auto">
                                        <i class="far fa-times-circle"></i>
                                        {{error}}
                                        </div>   
                                        {%endfor%}
                                {% endif %}
<hr>
                            {{form.job_title.label}}
                            {{form.job_title(class="form-control")}}
                            {% if form.job_title.errors %}
                            {% for error in form.job_title.errors %}
                                <div class="alert alert-danger w-100 mt-2 mx-auto">
                                        <i class="far fa-times-circle"></i>
                                        {{error}}
                                        </div>   
                                        {%endfor%}
                                {% endif %}
                            <hr>

                            {{form.passcode.label}}
                            {{form.passcode(class="form-control")}}
                            {% if form.passcode.errors %}
                            {% for error in form.passcode.errors %}
                                <div class="alert alert-danger w-100 mt-2 mx-auto">
                                        <i class="far fa-times-circle"></i>
                                        {{error}}
                                        </div>   
                                        {%endfor%}
                                {% endif %}
                            <hr>


                            
                                 <div class="text-center p-3">
                                
                            {{form.submit(class="btn btn-lg btn-success")}}<br>
                                              </div>


           
                 </div>
            </div>
            <div class="col"></div>
    
        </div>
    </div>
{% endblock %}