{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block
content%}
<style>
  .fa-times {
    color: #d9534f;
  }

  .fa-check {
    color: #5cb85c;
  }

  #edit {
    color: black;
  }

  #edit:hover {
    text-decoration: none;
    color: green;
  }
</style>
<div class="container">
  <div class="row text-dark text-center">
    <div class="col-12 col-sm-6 card pt-5">
      <h1 class="display-1">Room {{ room }}</h1>
   
      <span class="h3">
        {% if room_name %}

        <span class="badge badge-secondary shadow-lg">{{ room_name }}</span>

        {% endif %}

        <span class="badge badge-secondary shadow-lg">{{ room_type }}</span>
        <span class="badge badge-secondary shadow-lg">{{ size }} </span>
      </span>
      <strong>{{ floor }}</strong> View: {{ view }}
  



    </div>
  

  <div class="col-12 col-sm-6 card">
      <div class="container pt-4">
        <div class="row p-2">
          <div class="col-md-12 col-sm-12">
            <h1 class="h4 text-left">Inventory</h2>

              <div class="align-self-center">
                <div class="row">
                  <div class="col-md-6">
                    <table class="mx-auto table table-hover text-center" style="background-color:white;">
                      <tbody>
                        <tr>
                          <td>Desk</td>
                          <td>
                            <i class="fa fa-{{desk_color}}"></i>
                            {{ desk }}</td>

                        </tr>
                        <tr>
                          <td>Armchair</td>
                          <td>
                            <i class="fa fa-{{ armchair_color }}"></i>
                            {{ armchair }} </td>

                        </tr>
                        <tr>
                          <td>Coffee Table</td>
                          <td>
                            <i class="fa fa-{{ coffe_table_color }}"></i>
                            {{ coffe_table }}</td>


                        </tr>
                        <tr>
                          <td>Fridge</td>
                          <td>
                            <i class="fa fa-{{ fridge_color }}"></i>
                            {{ fridge }}</td>
                        </tr>
                        <tr>
                          <td>Full Mirror</td>
                          <td>
                            <i class="fa fa-{{ full_mirror_color }}"></i>
                            {{ full_mirror }}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="mx-auto table table-hover text-center" style="background-color:white;">
                      <tbody>
                        <tr>
                          <td>Shower over bath</td>
                          <td>
                            <i class="fa fa-{{ shower_bath_color }}"></i>
                            {{ shower_bath }}</td>
                        </tr>
                        <tr>
                          <td>Roll top bath</td>
                          <td>
                            <i class="fa fa-{{ roll_top_bath_color }}"></i>
                            {{ roll_top_bath }}</td>
                        </tr>
                        <tr>
                          <td>Bathroom windows</td>
                          <td>
                            <i class="fa fa-{{ bathroom_windows_color }}"></i>
                            {{ bathroom_windows }}</td>
                        </tr>
                        <tr>
                          <td>Connecting</td>
                          <td>
                            <i class="fa fa-{{ connecting_color }}"></i>
                            {{ connecting }}</td>
                        </tr>
                        <tr>
                          <td>Sofa Bed</td>
                          <td>
                            <i class="fa fa-{{sofa_bed_color}}"></i>
                            {{sofa_bed}}</td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row mt-3">

    <div class="col card p-4">
      <h5 class="text-left">Notes</h1>
        <table class="shadow w-100 bg-white text-center rounded mx-auto w-75 table table-hover table-bordered">
          <tbody>
            {%if notes %} {% for x in notes %}
            <tr>
              <td>
                {{ x }}

              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td>
                No notes added yet.
              </td>
            </tr>

            {% endif %}
          </tbody>

        </table>
        <div class="text-center">
          <a name="edit" id="" class="btn btn-primary" href="{{ url_for('edit', room_number=room) }}" role="button">Edit
            Notes</a>
        </div>


    </div>

  </div>





  <div class="row mt-2">
    <div class="col-md-12 col-sm-12 card p-3">
      <span class="h5 p-2">Images       <a id='edit' href="{{ url_for('upload_file', room_number=room) }}" class="href"><i class="fas fa-edit"></i> Edit</a>
      </span>
      {% if images %}
      <div class="row">
      {% for image in images %}
      <div class="col-4 mb-3 mt-3 p-5">
      <a href={{image}} target="_blank">
        <img class="img-fluid" src="{{image}}" onerror="this.src='https://www.lifewire.com/thmb/qLv10Pgd30kCy7OxXacwOWKxZ8M=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg'">
      </a>
      </div>
      {% endfor %}
      </div>
       {% else %}

      <div class="card">
      <h5 class="text-dark text-center border-danger p-3">There are no images of this room.</h5>
      </div>
    </div>
    {% endif %}


  </div>
</div>
</div>
</div>
</div>
{% endblock %}