{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {%
block
content%}

<style>
    #room {
        height: 80px;
        font-size: 4rem;
        padding: 0px !important;
    }

    .list-group {
        width: 300px;
    }

    div#page_loader {
        height: 50%;
        display: none;
    }
</style>

<div class="container-fluid text-center display-4">
    <h1 class="text-dark display-3">Room Search</h1>
     </div>
<hr>
    <div class="row w-100 pt-3">
        <div class="col-md-6 mx-auto">
            <form class="form-group" action="{{ url_for('handle_data') }}" method="post">
                <div class="row">
                    <div class="input-group shadow-lg">
                        <!-- <input id="room" class="form-control" autocomplete="off" type="text" name="Room"> -->
                        <input id="room" class="text-center form-control" type="text" name="Room" autocomplete="off">
                        <span class="input-group-append">
                            <button class="btn btn-info d-none d-sm-block">
                                <input type="button" name="print" style="display: none;">
                                <i class="fa fa-print"></i>
                            </button>
                        </span>
                        <span class="input-group-append">
                            <button class="btn btn-lg btn-success d-none d-sm-block">
                                <input type="button" name="submit" style="display: none;">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </span>

                    </div>

                    <span class="input-group mt-4">
                        <button class="btn btn-lg btn-block btn-success d-sm-none">
                            <input type="button" name="submit" style="display: none;">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </span>
                    <!-- <input type="button" name="submit" value="Submit" class="shadow-lg btn btn-success btn-block btn-lg p-2 mt-4 d-sm-none"> -->


                </div>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <div id="alert" class="shadow-lg border border-danger alert alert-danger p-3 w-100 mx-auto text-center">
                    <strong class="text-danger">{{ message }}</strong>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </form>

        </div>
    </div>
        {% endblock %}