{% extends "layout.html" %} {% block title %}Search{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content%}
<div class="container-fluid bg-dark text-light p-5 shadow">
    <div class="row">
        <div class="col-md-12 p-0 col-xs-12 col-sm-12 col-lg-6 mx-auto">
            <img class="img-fluid rounded-circle mx-auto d-block" src="https://cdn107.picsart.com/206222017001202.gif?r1024x1024" alt="">
            <h1 class="display-3 text-center">{{user.nickname}}</h1>
            <div class="row">
                <div class="col-6 text-right h4">Posts : {{ total_posts }}</div>
                <div class="col-6 text-left h4">Likes: 35</div>
                <div class="col-12 text-center pt-2"><button class="btn btn-success">Message (coming soon)</button></div>
            </div>

        </div>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div id="alert" class="shadow-lg alert alert alert-success w-100 mt-4 mx-auto text-center">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>
    <div class="container-fluid">

        {% for post in posts|sort(attribute='timestamp', reverse=True) %}
        <div class="col-12 col-sm-6 mx-auto p-0 m-0">
            <div class="card m-4 shadow">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="{{url_for('user_profile', user=post.author.id)}}" class="text-dark">
                            <i class="fas fa-user"></i> {{ post.author.nickname }}</a>
                        <small class="float-right">
                            {{ post.timestamp.strftime('%a %d %b - %H:%M') }}
                        </small>
                        <hr>
                        </h4>
                        <p class="card-text h4">{{ post.body }}</p>
                </div>
                <div class="card-footer">
                    <small class="float-right">
                        {% if current_user.admin or current_user.id == post.author.id %}
                        <a href="{{url_for('delete_post', post_id=post.id)}}" class="btn btn-danger p-1">Delete</a>
                        <a href="#" class="btn btn-warning p-1">Edit</a>
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endblock%}