{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<style>
    *:focus {
        outline: none;
    }
</style>



<div class="container-fluid bg-dark text-light pb-5">
    <div class="row">

        <div class="col"></div>

        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
            <h1 class="display-4 text-center p-4">Manage your account</h1>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 col-sm-12">
            <div class="form-group">
                <form class="p-5" action="{{ url_for('update_user', user_id=user.id) }}" method="post">
                    {{ form.hidden_tag()}} {{ form.email.label }} {{ form.email(class="form-control", value=user.username)}} {% if form.email.errors%}
                    {% for error in form.email.errors %}
                    <div class="alert alert-danger w-100 mt-4 text-center mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{ error }}
                    </div>
                    {%endfor%} {% endif %}
                    <hr> {{form.password.label}} {{ form.password(class="form-control", value=user.password)}} {% if form.password.errors
                    %} {% for error in form.password.errors%}
                    <div class="alert alert-danger w-100 mt-4 text-center mx-auto">
                        <i class="far fa-times-circle"></i>
                        {{ error }}
                    </div>
                    {%endfor%} {% endif %}
                    <hr> {{ form.confirm_password.label}} {{form.confirm_password(class="form-control", value=user.password)}}
                    <hr> {{form.job_title.label}} {{form.job_title(class="form-control", value=user.job_title)}}

                    <hr> {{ form.nickname.label }} {{ form.nickname(class="form-control", value=user.nickname)}}

                    <div class="text-center mt-2 p-3">
                        {{form.submit(class="btn btn-lg btn-success")}}
                        <a href="{{url_for('home')}}" class="btn btn-primary btn-lg">Go Back</a>

                        <br>
                    </div>



                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert text-center alert-warning" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    {% endblock %}